.icon {
    width: clamp(4rem, 6vw, 3.5rem);
    display: block;
}

.asideLogo{
    width: clamp(8rem, 6vw, 3.5rem);
}

.btn{
    background-color: #439740;
}

@media(min-width: 768px){
    .navbar{
        padding: 1.5rem;
    }
}


@media (min-width: 992px) {
    .icon {
        width: clamp(4rem, 4vw, 4rem);
    }
}
